#locations {
    width: 100%;
    height: 100%;
    position: relative;
}

.locations-page-main {
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.locations-page-first-half {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locations-page-heading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.locations-page-heading h1 {
    font-family: var(--font-family-regular);
    font-size: 50px;
    font-weight: normal;
    transform: translateY(-100px);
}

.locations-page-second-half {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.locations-page-restaurants {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.circle7 {
    position: absolute;
    top: 270px;
    left: 600px;
}

.circle8 {
    position: absolute;
    top: 130px;
    right: 90px;
}

@media screen and (max-width: 500px) {

    .locations-page-main {
        flex-direction: column;
        margin-top: 100px;
    }

    .locations-page-first-half {
        width: 100%;
        height: 100px;
    }

    .locations-page-heading h1 {
        font-size: 25px;
    }

    .locations-page-second-half {
        width: 100%;
    }

    .locations-page-restaurants {
        width: 80%;
        height: 80%;
    }

    .circle7 {
        display: none;
    }

    .circle8 {
        display: none;
    }

}