#servicesPage {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.services-page-main {
    padding: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.services-page-content {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-page-content-col1 {
    padding-left: 40px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.services-page-content-col2 {
    padding-right: 40px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.services-page-content-col1-image {
    width: 50%;
    height: 80%;
    box-shadow: 6px 10px 9px 2px rgba(0, 0, 0, 0.18);
    border-radius: 48px;
    cursor: pointer;
}

.services-page-content-col1-image img {
    width: 100%;
    height: 100%;
    box-shadow: 6px 10px 9px 2px rgba(0, 0, 0, 0.18);
    border-radius: 48px;
}

.services-page-content-col1-des {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    transform: translateY(-200px);
}

.side-rectangle-col1 {
    width: 2px;
    height: 100%;
    background-color: black;
}

.services-page-descp-col1 {
    margin-left: 20px;
    width: 300px;
    font-family: var(--font-family-regular);
    color: var(--light-text-color);
    font-size: 30px;
}

.services-page-content-col2-des {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-left: 20px;
    transform: translateY(200px);
    margin-right: 20px;
}

.services-page-descp-col2 {
    margin-right: 20px;
    width: 300px;
    font-family: var(--font-family-regular);
    color: var(--light-text-color);
    font-size: 30px;
    text-align: end;
}

.circle-cook-back {
    position: absolute;
    top: 400px;
    left: 300px;
}

.circle-hotel-back {
    position: absolute;
    top: 60px;
    right: 350px;
}